RewriteEngine On

# Make sure requests for real files or directories are not rewritten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite /booking to /booking.html
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.html [L]
